<%= flash[:notice] if flash[:notice] %>
<div align="center">
<h1>Welcome to Annose</h1>
<i>Annotate. Collaborate. Educate.</i>
<h3>Login or Sign Up to get Started!</h3>


<img src="https://i.pinimg.com/736x/b4/68/3f/b4683ffa7c902dad1fe60693495eb307--teacher-qoutes-teacher-inspirational-quotes.jpg"> 
</div>